<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorator="header"
>
<head>
    <meta charset="UTF-8">
    <title>Patients</title>

</head>
<div layout:fragment="pageContent">
    <div class="container" style="margin-top: 50px">
        <div class="row">
            <h2 class="col">Liste de Patients</h2>
            <br>
            <form class="row g-3" method="GET" th:action="@{patients}">
                <div class="col-auto">
                    <input name="keyword" type="text" class="form-control" id="inputPassword2"
                           placeholder="Search Patient" th:value="${keyword}">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-3">Search</button>
                </div>
            </form>
            <table class="table">
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Date De Naissance</th>
                    <th>Score</th>
                    <th>Malade</th>
                </tr>
                <tr th:each="p:${patients}">
                    <td th:text="${p.id}"></td>
                    <td th:text="${p.nom}"></td>
                    <td th:text="${p.dateNaisssance}"></td>
                    <td th:text="${p.score}"></td>
                    <td th:text="${p.malade}"></td>
                    <td sec:authorize="hasRole('ADMIN')">
                        <a class="btn btn-success" th:href="@{updatePatient(id=${p.id})}">Edit</a>
                    </td>
                    <td sec:authorize="hasRole('ADMIN')">
                        <a onclick="return confirm('Confirm Deletion !')" class="btn btn-danger"
                           th:href="@{deletePatient(id=${p.id}, keyword=${keyword}, page=${currentPage}, size=${size})}">Delete</a>
                    </td>
                </tr>
            </table>
            <ul class="nav nav-pills">
                <li th:each="page, status:${pages}">
                    <a th:class="${status.index == currentPage} ? 'btn btn-primary' : 'btn' "
                       th:href="@{patients(page=${status.index}, keyword=${keyword})}" th:text="${status.index}"></a>
                </li>
            </ul>
        </div>
    </div>
</div>

</html>
